#achievements {
  display: block;
  background-color: var(--main-color);
  width: 90%;
  max-width: 900px;
  justify-content:center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  text-align: left;
  color: white;
  font-family: 'Rambla';
  line-height: 2rem;
  padding-top: 1vh;
  padding-bottom: 1vh; 
}

@media (min-width: 901px) {
  #achievements > ul {
    font-size: larger;
  }
}

#achievements > ul {
  padding-left: 1vw;
  list-style-type: none;
  text-align: center;
}

#achievements > b {
  font-weight: 900;
}