#achievements {
  display: block;
  background: linear-gradient(90deg,rgba(230, 135, 28, 1) 0%, rgba(247, 148, 32, 1) 50%, rgba(252, 168, 71, 1) 100%);
  border-radius: 15px;
  width: 90%;
  max-width: 900px;
  justify-content:center;
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--vertical-margin);
  margin-bottom: var(--vertical-margin);
  text-align: left;
  color: white;
  font-family: 'Rambla';
  line-height: 3rem;
  padding-top: 1vh;
  padding-bottom: 1vh; 
}

@media (min-width: 901px) {
  #achievements > ul {
    font-size: larger;
  }
}

#achievements > ul {
  padding-left: 1vw;
  list-style-type: none;
  text-align: center;
}

#achievements > b {
  font-weight: 900;
}