.btn {
  border-radius: 25px;
  background-color: var(--main-color);
  color: white;
  padding: 14px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "PottaOne";
  font-size: 18px;
  border-style: none;
}

p.cta > .btn  {
  text-transform: uppercase;
}

.btn:hover, :disabled, :disabled {
  background-color: var(--secondary-color);
}

.enabled:active {
  background-color: var(--main-color);
}