/* Show just one 991px wide slide at a time */
.carousel {
  width: 100%;
  max-width: var(--max-width);
}

.carousel__slides,
.carousel__slide {
  width: 100%;
}

/* Make carousel swipeable */
.carousel__slides {
  column-gap: 20px;
  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  flex: 0 0 auto;
  scroll-snap-align: center;
}

.carousel__slides.smooth-scroll {
  scroll-behavior: smooth;
}

/* Hide scrollbar */
.carousel__slides {
  scrollbar-width: none; /* Firefox and latest Chromium */
}

.carousel__slides::-webkit-scrollbar {
  display: none; /* Safari and legacy Chromium */
}

/* Styling relative to next section */
.carousel {
  padding-bottom: 10px;
  position: relative;
}

/* Stylistic purpose */
.carousel-wrapper {
  align-items: center;
  display: flex;
}

.carousel {
  margin: 0 auto;
}