.slider {
 position: relative;
 margin-top: 10px;
 width: 100%;
 height: 600px;
 overflow: hidden;
 align-items: center;
}
.item {
  overflow: hidden;
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  padding: 5px;
  transition: 0.5s;
  /* left: calc(50% - 200px); */
  top: 10px;
  /* height: 90%; */
  
}

.carousel {
  display: grid;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  justify-items: center;
}

img {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  
}

#next {
 position: absolute;
 right: 5px;
 top: 40%;
}
#prev {
 position: absolute;
 left: 5px;
 top: 40%;
}
#prev,
#next {
 background: none;
 border: none;
 font-size: xxx-large;
 font-family: monospace;
 font-weight: bold;
 opacity: 0.5;
 transition: opacity 0.5s;
}
#prev:hover,
#next:hover {
 opacity: 1;
}
