h1 {
  font-family: "PottaOne";
  font-weight: 700;
  color: black;
  margin: 0px;
}

h2 {
  margin: 10px 20px;
  font-family: "PottaOne";
}

@media (max-width: 900px) {
  h2 {
    font-size: 32px;
  }
}
