.introtext {
  text-align: left;
  width: 90%;
  max-width: var(--max-width);
  display: inline-table;
}

@media (min-width: 901px) {
  .introtext {
    font-size: larger;
  }
  .socneticons {
    font-size: 1rem;
  }
}

@media (max-width: 900px) {
  .socneticons {
    font-size: 0.8rem;
  }
}

hr {
  width: 80%;
  max-width: var(--max-width);
  margin: 10px auto;
  height: 1px;
  color: lightgray;
  background-color: lightgray;
  border: none;
}

a img {
  display: inline;
  margin: auto;
  width: 32px;
  height: 32px;
  border: 0;
  padding: 0px;
}

.socneticons {
  display: flex;
  padding-left: calc(
    var(--side-space) + (var(--content-width) - min(var(--content-width), 450px)) / 2
  );
  padding-right: calc(
    var(--side-space) + (var(--content-width) - min(var(--content-width), 450px)) / 2
  );
  margin: auto;
  justify-content: space-around;
  padding-bottom: 10px;
}

.socneticons a {
  text-decoration: none;
  color: inherit;
}

.socneticon {
  text-align: center;
  align-content: center;
  display: inline-block;
  margin: auto;
  flex: 1 1 0px;
}

.img-with-text {
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-family: "Rambla";
  color: black;
  padding: 0;
  margin: 5px;
}

.img-with-text img {
  display: block;
  margin: 0;
}

.cta {
  text-align: center;
  margin-top: 32px;
}
