body {
  margin: 0;
}

header {
  width: 100%;
  background-color: var(--main-color);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 10;
}

#banner {
  width: 100%;
  background-color: var(--main-color);
}

#banner-image {
  display: block;
  margin: auto;
  max-width: 1100px;
  width: 100%;
}

#Nav {
  display: flex;
  justify-content: center;
  padding-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;

  a {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    list-style-type: none;
    background-color: transparent;
    margin: 0 10px 0 0;
    color: black;
    text-decoration: none;
    font-family: "PottaOne";
  }

  a:hover {
    color: white;
  }

  a:active {
    color: var(--secondary-color);
  }
}
