img {
    max-width: 100%;
    max-height: 100%;
}

#NavWrap {
    position: fixed;
    background: var(--main-color);
    width: 100%;
}

#Nav {
    background-color: transparent;
    width: 90%;
    margin: auto;
    text-align: center;
}

.navOnHeader {
    padding-top: 15px;
    padding-bottom: 3px;
}

#Nav ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}

#Nav li {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    float: left;

    padding: 10px 10px;
    background-color: transparent;
    color: #fff;
    list-style-type: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 10px 0 0;
    list-style-type: none;
}

#Nav li a {
    color: black;
    text-decoration: none;
    line-height: 20px;
    font-family: 'PottaOne'
}

#Nav li a:hover {
    color: white;
}

#Nav li a:active {
    color: #7f4f29;
}
