body {
  margin: 0;
}

header {
  width: 100%;
  background-color: var(--main-color);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 10;
}

#banner {
  width: 100%;
  background-color: var(--main-color);
}

#banner-image {
  display: block;
  margin: auto;
  max-width: 1100px;
  width: 100%;
}

img {
  max-width: 100%;
  max-height: 100%;
}

nav {
  display: flex;
  justify-content: center;
  padding-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-family: 'PottaOne';
  font-size: 14px;
}

nav > a {
  color: black;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  letter-spacing: 1px;
  list-style-type: none;
  background-color: transparent;
  margin: 0 10px 0 0;
  text-decoration: none;
  line-height: 20px;
}

nav > a:hover {
  color: white;
}

nav > a:active {
  color: var(--secondary-color);
}
