:root {
  --main-complementary-color: #018bfa;
  --main-color: #f79420;
  --secondary-color: #ffc686;
  --secondary-complementary-color: #003979;

  --large-size: 901px;
  --small-size: 900px;
}

body {
  margin: 0;
}

header {
  width: 100%;
  background-color: #f79420;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 10;
}

#banner {
  display: block;
  margin: auto;
  max-width: 1100px;
  width: 100%;
}

#Nav {
  display: flex;
  justify-content: center;
  padding-left: 0px;
  margin-bottom: 0px;

  li {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 10px 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    list-style-type: none;
    color: #fff;
    background-color: transparent;
    margin: 0 10px 0 0;
  }

  li a {
    color: black;
    text-decoration: none;
    line-height: 20px;
  }

  li a:hover {
    color: white;
  }

  li a:active {
    color: #7f4f29;
  }
}
