.socnet {
  float: none;
  margin: auto;
}

.socnetiframe {
  width: 80%;
  height: 40vh;
}

#Youtube-Root {
  text-align: center;
}

.socneticons {
  display: flex;
  margin: auto;
  justify-content: space-around;
}

#SocnetIcons {
  img {
    height: 38px;
  }

  padding: 5px 5px 0px 5px;
  z-index: 2;
}

a img {
  display: inline;
  margin: auto;
  width: 38px;
  height: 38px;
  border: 0;
  padding: 5px;
}

.socneticons {
  display: flex;
  padding-left: calc(40vw - 100px);
  padding-right: calc(40vw - 100px);
}

.socneticon {
  text-align: center;
  align-content: center;
  display: inline-block;
  margin: auto;
}

#SocnetIcons {
  margin: auto;
  align-content: center;
}

/* /SocnetIcons */
