:root {
  --main-complementary-color: #018bfa;
  --main-color: #F79420;
  --secondary-color: #ffc686;
  --secondary-complementary-color: #003979;

  --max-width: 1350px;
}

@font-face {
  font-family: "PottaOne";
  src: url("/thepanoply-preview/fonts/pottaone-regular.woff2");
  /* line above used for preview deployment, line below used for prod deployment  */
  /* src: url("/fonts/pottaone-regular.woff2"); */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 300%;
  width: 100%;
  font-family: sans-serif, Arial, Helvetica, Montserrat, "Helvetica Neue";
  margin-left: auto;
  padding: 0;
  position: relative;
  z-index: 0;
  scroll-behavior: smooth;
}

div.section {
  position: relative;
  background-color: white;
  width: 100%;
  min-height: 0;
  /* padding: 3em calc(20vw - 70px); */
  z-index: 1;
  text-align: center;
}

.section-header {
  position: relative;
  width: 100%;
  height: 1vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  z-index: 2;
}

.header-text {
  height: auto;
  padding: 0px 20px;
  /* padding-left: calc(20vw - 70px); */
  margin-bottom: 40px;
  color: white;
  background: var(--main-color);
}

div.section:last-child {
  min-height: 100%;
  padding: 3em calc(20vw - 70px) 6em;
}

iframe {
  border: 0px;
}

footer {
  margin: 0;
  font-size: 10px;
  text-align: center;
  background-color: white;

  p {
    margin-top: 0;
  }
}

section {
  text-align: center;
  position: relative;
  background-color: white;
  width: 100%;
  min-height: 0;
  /* padding: 3em calc(20vw - 70px); */
  padding-bottom: 10px; 
  z-index: 1;
}

/* MENU */

/* /MENU */

/* SocnetIcons */

#SocnetIcons {
  padding: 5px 5px 0px 5px;
  z-index: 2;
}

a img {
  display: inline;
  margin: auto;
  width: 38px;
  height: 38px;
  border: 0;
  padding: 5px;
}

.socneticons {
  display: flex;
  padding-left: calc(40vw - 100px);
  padding-right: calc(40vw - 100px);
}

.socneticon {
  text-align: center;
  align-content: center;
  display: inline-block;
  margin: auto;
}

#SocnetIcons {
  margin: auto;
  align-content: center;
}

/* /SocnetIcons */

/* @media (max-width: 900px) {
  div.parallax-image-socnet {
    background-image: url("../images/dividers/socnetdivider.small.webp");
  }

  div.parallax-image-contact {
    background-image: url("../images/dividers/contactdivider.small.webp");
  }
}

@media (min-width: 901px) {
  div.parallax-image-socnet {
    background-image: url("../images/dividers/socnetdivider.webp");
  }

  div.parallax-image-contact {
    background-image: url("../images/dividers/contactdivider.webp");
  }
} */

div.parallax-image-socnet {
  margin-top: -5vh;
}

div.parallax-image-socnet.lazy {
  background-image: none;
  background-color: var(--main-complementary-color);
}

div.parallax-image-contact {
  margin-top: -5vh;
  background-position: center bottom;
}

div.parallax-image-contact.lazy {
  background-image: none;
  background-color: var(--main-complementary-color);
}

/* DIVIDERS-> */
/* https://codepen.io/Everybodyknows/pen/abbyLOZ */
.fixed {
  top: 10vh;
  width: 100%;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  z-index: -1;
}


/* IOS Safari doesn't support fixed, see https://bugs.webkit.org/show_bug.cgi?id=275247 */
/* This is IOS Safari */
@supports (-webkit-touch-callout: none) {  
  .fixed {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    height: 40vh;
  }
}

/* This is other */
@supports not (-webkit-touch-callout: none) {
  .fixed:not(.ios-safari) {
    height: 30vh;
    background-attachment: fixed;
  }

}

/* ->DIVIDERS */

br.clearLeft {
  clear: left;
}
