:root {
  --main-complementary-color: #018bfa;
  --main-color: #f79420;
  --secondary-color: #ffc686;
  --secondary-complementary-color: #003979;
}

@font-face {
  font-family: "PottaOne";
  src: url("/thepanoply-preview/fonts/pottaone-regular.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 300%;
  width: 100%;
  font-family: sans-serif, Arial, Helvetica, Montserrat, "Helvetica Neue";
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 0;
  scroll-behavior: smooth;
}

div.section {
  position: relative;
  background-color: white;
  width: 100%;
  min-height: 0;
  padding: 3em calc(20vw - 70px);
  z-index: 1;
  text-align: center;
}

.section-header {
  position: relative;
  width: 100%;
  height: 1vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  z-index: 2;
}

.header-text {
  height: auto;
  padding: 0px 20px;
  /*padding-left: calc(20vw - 70px);*/

  margin-bottom: 40px;
  color: white;
  background: var(--main-color);
}

div.section:last-child {
  min-height: 100%;
  padding: 3em calc(20vw - 70px) 6em;
}

iframe {
  border: 0px;
}

#fotografer {
  margin: 0;
  font-size: 10px;
}

section {
  text-align: center;
  position: relative;
  background-color: white;
  width: 100%;
  min-height: 0;
  padding: 3em calc(20vw - 70px);
  z-index: 1;
}

/* MENU */

/* /MENU */

/* SocnetIcons */

#SocnetIcons {
  padding: 5px 5px 0px 5px;
  z-index: 2;
}

a img {
  display: inline;
  margin: auto;
  width: 38px;
  height: 38px;
  border: 0;
  padding: 5px;
}

.socneticons {
  display: flex;
  padding-left: calc(40vw - 100px);
  padding-right: calc(40vw - 100px);
}

.socneticon {
  text-align: center;
  align-content: center;
  display: inline-block;
  margin: auto;
}

#SocnetIcons {
  margin: auto;
  align-content: center;
}

/* /SocnetIcons */

/* DIVIDERS-> */

/* https://codepen.io/Everybodyknows/pen/abbyLOZ */

@media (max-width: 900px) {
  .header-text {
    margin-left: 10vw;
    font-size: 2rem;
  }
}

@media (min-width: 901px) {
  .header-text {
    margin-left: 20vw;
    font-size: 3rem;
  }
}

.fixed {
  top: 15vh;
  width: 100%;
  height: 30vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  z-index: -1;
  background-attachment: fixed;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
}

/* ->DIVIDERS */

br.clearLeft {
  clear: left;
}
