:root {
  /* Colors */
  --main-complementary-color: #018bfa;
  --main-color: #f79420;
  --secondary-color: #ffc686;
  --secondary-complementary-color: #003979;

  /* Set carousel height so there is always room to show the intro text */
  --max-carousel-height: min(
    /* Calculate as 100% - header - menu - intro */
    calc(100vh - 210px - 60px - 10vh),
    /* Fine-tune the height on high resolution screens */
    1020px
  );
  --carousel-height: min(100vw / 16 * 9, var(--max-carousel-height));

  /* Global dimensions */
  --max-width: 900px;
  --menu-height: 60px;
  --divider-height: 40vh;
  --header-height: 1vh;
  --padding-bottom: 10px;
  --min-section-height: calc(100vh - var(--menu-height) - var(--divider-height));
}

@font-face {
  font-family: "PottaOne";
  /* src: url("/thepanoply-preview/fonts/pottaone-regular.woff2"); */
  /* line above used for preview deployment, line below used for prod deployment  */
  src: url("/fonts/pottaone-regular.woff2");
}

@font-face {
  font-family: "Rambla";
  /* src: url("/thepanoply-preview/fonts/rambla-regular.ttf"); */
  /* line above used for preview deployment, line below used for prod deployment  */
  src: url("/fonts/rambla-regular.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 300%;
  width: 100%;
  font-family:
    Rambla, sans-serif, Arial, Helvetica, Montserrat, "Helvetica Neue";
  margin-left: auto;
  padding: 0;
  position: relative;
  z-index: 0;
  scroll-behavior: smooth;
}

div.section {
  position: relative;
  background-color: white;
  width: 100%;
  min-height: 0;
  z-index: 1;
  text-align: center;
}

div.section:last-child {
  min-height: 100%;
  padding: 3em calc(20vw - 70px) 6em;
}

iframe {
  border: 0px;
}

footer {
  margin: 0;
  font-size: 10px;
  text-align: center;
  background-color: white;

  p {
    margin-top: 0;
  }
}

section {
  text-align: center;
  position: relative;
  background-color: white;
  width: 100%;
  min-height: 0;
  padding-bottom: var(--padding-bottom);
  z-index: 1;
}

#IntroSection {
  min-height: calc(var(--min-section-height) + var(--divider-height) - var(--carousel-height));
}

#om {
  scroll-margin-top: var(--menu-height);
}

#ContactSection {
  min-height: var(--min-section-height);
}

#boka {
  scroll-margin-top: var(--menu-height);
}

#VideoSection {
  min-height: var(--min-section-height);
}

#videor {
  scroll-margin-top: var(--menu-height);
}

#DoneGigSection {
  min-height: var(--min-section-height);
}

#spelningar {
  scroll-margin-top: var(--menu-height);
}

br.clearLeft {
  clear: left;
}
