:root {
  --main-complementary-color: #018bfa;
  --main-color: #f79420;
  --secondary-color: #ffc686;
  --secondary-complementary-color: #003979;

  --large-width: 901px;
  --medium-width: 900px;
  --small-width: 500px;

  --max-width: 1100px;
}

@font-face {
  font-family: "PottaOne";
  src: url("/thepanoply-preview/fonts/pottaone-regular.woff2");
  /*src: url("/fonts/pottaone-regular.woff2");*/
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 300%;
  width: 100%;
  font-family: sans-serif, Arial, Helvetica, Montserrat, "Helvetica Neue";
  margin-left: auto;
  padding: 0;
  position: relative;
  z-index: 0;
  scroll-behavior: smooth;
}

div.section {
  position: relative;
  background-color: white;
  width: 100%;
  min-height: 0;

  z-index: 1;
  text-align: center;
}

.section-header {
  position: relative;
  width: 100%;
  height: 1vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  z-index: 2;
}

.header-text {
  height: auto;
  padding: 0px 20px;

  margin-bottom: 40px;
  color: white;
  background: var(--main-color);
}

div.section:last-child {
  min-height: 100%;
  padding: 3em calc(20vw - 70px) 6em;
}

iframe {
  border: 0px;
}

footer {
  margin: 0;
  font-size: 10px;
  text-align: center;
}

section {
  text-align: center;
  position: relative;
  background-color: white;
  width: 100%;
  min-height: 0;
  padding-bottom: 10px;
  z-index: 1;
}

/* DIVIDERS-> */
/* https://codepen.io/Everybodyknows/pen/abbyLOZ */

@media (min-width: 500px) and (max-width: 900px) {
  .header-text {
    margin-left: 10vw;
    font-size: 2rem;
  }
}

@media (min-width: 901px) {
  .header-text {
    margin-left: 20vw;
    font-size: 3rem;
  }
}

.fixed {
  top: 15vh;
  width: 100%;
  height: 30vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  z-index: -1;
  background-attachment: fixed;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
}

h2 {
  margin: 10px 20px;
  font-family: "PottaOne";
  /*font-size: 3em*/
}

@media (max-width: 500px) {
  h2 {
    font-size: 1.5em;
  }
}

/* ->DIVIDERS */

br.clearLeft {
  clear: left;
}
