table {
  width: 90%;
  max-width: var(--max-width);
  margin: auto;
  border-collapse: collapse;
}

tr {
  height: 3rem;
  text-align: left;
}

/* .firstColumn {
  text-align: left;
}

.lastColumn {
  text-align: right;
} */

.secondTr {
  background-color: var(--secondary-color);
}

#paginateButton {
  border: 0px;
  background-color: white;
  text-decoration: underline;
}
