table {
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
}

tr {
  height: 3rem;
}

.firstColumn {
  text-align: left;
}

.lastColumn {
  text-align: right;
}

.secondTr {
  background-color: var(--secondary-color);
}
