table {
  width: 90%;
  max-width: var(--max-width);
  margin: auto;
  margin-bottom: 40px;
  border-collapse: collapse;
}

#DoneGigSection {
  flex-flow: column;
}

tr {
  height: 3rem;
  text-align: left;
}

.secondTr {
  background-color: var(--secondary-color);
}

td {
  padding: calc(0.01 * var(--max-width));
}

td:nth-child(1) {
  width: 40%;
}

td:nth-child(2) {
  width: 40%;
}

td:nth-child(3) {
  width: 20%;
  white-space: nowrap;
}