table {
  width: 90%;
  max-width: var(--max-width);
  margin: auto;
  margin-bottom: 50px;
  border-collapse: collapse;
}

tr {
  height: 3rem;
  text-align: left;
}

.secondTr {
  background-color: var(--secondary-color);
}

td:nth-child(1) {
  width: 40%;
}

td:nth-child(2) {
  width: 40%;
}

td:nth-child(3) {
  width: 20%;
  white-space: nowrap;
}

#paginateButton {
  border: 0px;
  background-color: white;
  text-decoration: underline;
}
